@media (max-width:576px) {
    /* header part start */
    .banner-h1 {
        font-size: 38px;
        line-height: 131%;
    }
    .banner-p {
        padding: 19px 0;
    }
    .span-one {
        font-size: 22px;
        line-height: 23px;
    }
    .span-two {
        font-size: 22px;
        line-height: 19px;
    }
    .common-btn {
        font-size: 13px;
        line-height: 22px;
        padding: 13px 24px;
    }
    .header-container {
        row-gap: 20px;
    }
    .navbar .navbar-link{
        border: none;
    }
    .navbar .navbar-link nav{
        display: none;
    }
    /* banner part start */
    .banner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 400px;
        gap: 10px;
    }
    .banner-image .overly .card-1 {
        width: 155px;
        height: 62px;
        padding: 0px 13px;
        right: 0;
        top: 150px;
    }
    .banner-image .overly .card-1 p{
        font-size: 10px !important;
        padding: 0px !important;
    }
    .banner-image .overly .card-2 {
        width: 141px;
    }
    .banner-image .overly .card-2 p{
        font-size: 10px !important;
        padding: 0px !important;
    }
    /* header part end */
}
/* medium device responsive */
