@media (max-width:576.99px) {
    /* header part start */
    .banner-h1 {
        font-size: 38px;
        line-height: 131%;
    }
     .span-one {
        font-size: 22px; 
       }
    .span-two {
        font-size: 22px; 
       } 
    .section-h2 {
        font-size: 30px;
    }
    .section-h4 {
        font-size: 20px;
    }
    .common-btn {
        font-size: 16px;
        padding: 15px 30px;
        line-height: initial;
    }
    .navbar .navbar-link{
        border: none;
    }
    .navbar .navbar-link nav{
        display: none;
    }
    .navbar .navbar-link .bar{
        display: block;
    }
    /* banner part start */
    .header-container .banner{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    /* header part end */
    /* habits part start */
    #habit {
        margin: 20px 0;
    }
    .habit-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .habit-container .habit-text {
        max-width: 400px;
        text-align: center;
    }
    .habit-card-container .habit-card .habit-inner-text {
        max-width: 230px;
    }
    /* habits part end */
    /* run part start */
    #run {
        margin: 20px 0;
    }
    .run-container {
       flex-direction: column;
       row-gap: 40px;
       padding: 20px;
    }
    .run-container .run-text {
        max-width: 366px;
    }
    .run-text button{
        width: 100%;
    }
    /* run part end */
    /* tranning part start */
    #tranning {
        margin: 30px 0;
    }
    .tranning-image .image-1 {
        grid-column: 1 / -1;
    }
    .tranning-image .image-2 {
        grid-column: 1 / -1;
    }
    .tranning-image .image-3{
        display: none;
    }
    .tranning-image .image-4 {
        grid-column: 1 / -1;
    }
    .tranning-image .image-5 {
        grid-column: 1 / -1;
    }
    .tranning-image .image-6{
        display: none;
    }
    .tranning-image .img .overly p {
        width: 100%;
    }
    /* tranning part end */
    /* calbulator part start */
    .calculator-container {
        grid-template-columns: 1fr;
        row-gap: 30px;
        justify-items: start;
        padding: 30px 0;
    }
    .calculator-chart table {
        margin-top: 27px;
    }
    .calculator-bmi{
        width: 100%;
    }
    .calculator-bmi form{
        width: 100%;
    }
    .calculator-bmi form input, select {
       width: 100%;
    }
    .calculator-bmi form select option{
        background-color: rgba(75, 74, 74, 0.365);
    }
    .calculator-bmi button{
        font-size: 16px;
        padding: 15px 30px;
        line-height: initial;
    }
    /* calbulator part end */
    /* team part start  */
    #team {
        padding: 0;
        margin: 30px 0;
    }
    .team-container .team-image {
       grid-template-columns: 1fr;
    }
    /* team part end */
    /* equipment part start */
    #equipment {
        margin: 10px 0;
        padding: 20px 0;
    }
    .equipment-image {
        grid-template-columns: repeat(1, 1fr);
    }
    /* equipment part end */
    /* footer part start */
    .footer-container .footer-content{
        grid-template-columns: 1fr;
        row-gap: 30px;
        justify-items: start;
    }
    .footer-content .footer-first{
        max-width: 400px;
    }
    /* footer part end */


}/* medium device responsive */
@media (min-width:577px) and (max-width:767.99px) {
    .banner-h1 {
        font-size: 48px;
        line-height: 131%;
    }
    .section-h2 {
        font-size: 35px;
    }
    .section-h4 {
        font-size: 20px;
    }
    .section-h6 {
        font-size: 14px;
    }
    .navbar .navbar-link{
        border: none;
    }
    .navbar .navbar-link nav{
        display: none;
    }
    .navbar .navbar-link .bar{
        display: block;
    }
    /* banner part start */
    .header-container .banner{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    /* habit part start */
    #habit {
        margin: 56px 0;
    }
    .habit-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .habit-container .habit-text {
        max-width: 400px;
        text-align: center;
    }
    .habit-card-container .habit-card .habit-inner-text {
        max-width: 230px;
    }
    /* habit part end */
    /* run part start */
    #run {
        margin: 45px 0;
    }
    .run-container {
        justify-content: space-between;
        gap: 15px;
        padding: 20px;
    }
    .run-container .run-text {
        max-width: 280px;
    }
    .run-container .run-image{
        height: 300px; 
    }
    .run-container .run-image img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
    }
    /* run part end */
    /* tranning part start */
    .tranning-image .image-1 {
        grid-column: 1 / 6;
    }
    .tranning-image .image-2 {
        grid-column: 6 / -1;
    }

    .tranning-image .image-3{
        grid-column: 1 / 8;
    }
    .tranning-image .image-4 {
        grid-column: 8 / -1;
    }

    .tranning-image .image-5 {
        grid-column: 1 / 6;
    }
    .tranning-image .image-6{
        grid-column: 6 / -1;
    }
 
    .calculator-text{
        max-width: 600px;
        margin: initial;
    }
    /* tranning part end */
    /* calbulator part start */
    .calculator-container {
        grid-template-columns: 1fr;
        row-gap: 40px;
        justify-items: start;
        padding: 20px 0;
    }
    .calculator-chart table {
        margin-top: 27px;
    }
    .calculator-bmi{
        width: 100%;
    }
    .calculator-bmi form{
        width: 100%;
    }
    .calculator-bmi form input, select {
       width: 100%;
    }
    .calculator-bmi form select option{
        background-color: rgba(75, 74, 74, 0.365);
    }
    .calculator-bmi button{
        font-size: 16px;
        padding: 15px 30px;
        line-height: initial;
    }
    /* calbulator part end */
    /* equipment part start */
    #equipment {
        margin: 10px 0;
    }
    .equipment-image {
        grid-template-columns: repeat(2, 1fr);
    }
    /* equipment part end */
    /* footer part start */
    .footer-container .footer-content{
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: start;
     }
     .footer-content .footer-first{
        grid-column: span 3;
        max-width: 450px;
     }
    /* footer part end */
}
/*  */
@media (min-width:768px) and (max-width:991.99px) {
    .header-container .banner {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        align-items: center;
    }
    .banner-h1 {
        font-size: 55px;
        line-height: 116%;
    }
    .section-h2 {
        font-size: 40px;
        line-height: 145%;
    }
    /* banner part start */
      /* habit part start */
      #habit {
        margin: 50px 0;
    }
      .habit-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .habit-container .habit-text {
        max-width: 400px;
        text-align: center;
    }
    .habit-card-container .habit-card .habit-inner-text {
        max-width: 230px;
    }
    /* habit part end */
    /* run part start */
    #run {
        margin: 50px 0;
    }
    .run-container .run-text {
        max-width: 385px;
    }
    /* run part end */
    /* tranning part start */
    .tranning-image .img .overly p {
        width: 100%;
        font-size: 12px;
    }
    /* tranning part end */
    /* calculator part start */
    .calculator-container {
        padding: 25px 0;
        justify-items: start;
    }
    .calculator-chart table {
        margin-top: 29px;
    }
    /* calculator part end */
    /* equipment part start */
    #equipment {
        margin: 50px 0;
    }
    /* equipment part end */
}