@media (max-width:576.99px) {
    /* header part start */
    .banner-h1 {
        font-size: 38px;
        line-height: 131%;
    }
    .banner-p {
        padding: 19px 0;
    }
    .span-one {
        font-size: 22px;
        line-height: 23px;
    }
    .span-two {
        font-size: 22px;
        line-height: 19px;
    }
    .section-h2 {
        font-size: 30px;
    }
    .common-btn {
        font-size: 13px;
        line-height: 22px;
        padding: 13px 24px;
    }
    .header-container {
        row-gap: 20px;
    }
    .navbar .navbar-link{
        border: none;
    }
    .navbar .navbar-link nav{
        display: none;
    }
    .navbar .navbar-link .bar{
        display: block;
    }
    /* banner part start */
    .banner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 400px;
        gap: 10px;
    }
    .banner-image .overly .card-1 {
        width: 155px;
        height: 62px;
        padding: 0px 13px;
        right: 0;
        top: 150px;
    }
    .banner-image .overly .card-1 p{
        font-size: 10px !important;
        padding: 0px !important;
    }
    .banner-image .overly .card-2 {
        width: 141px;
    }
    .banner-image .overly .card-2 p{
        font-size: 10px !important;
        padding: 0px !important;
    }
    /* header part end */
    /* habits part start */
    #habit {
        background-color: black;
        margin: 56px 0;
    }
    .habit-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .habit-container .habit-text {
        max-width: 400px;
        text-align: center;
    }
    .habit-card-container .habit-card .habit-inner-text {
        max-width: 230px;
    }
    /* habits part end */
    /* run part start */
    .run-container {
       flex-direction: column;
       row-gap: 40px;
       padding: 35px;
    }
    .run-container .run-text {
        max-width: 362px;
    }
    .run-text button{
        width: 100%;
    }
    /* run part end */
}
/* medium device responsive */
@media (min-width:577px) and (max-width:767.99px) {
    .banner-h1 {
        font-size: 48px;
        line-height: 131%;
    }
    .banner-p {
        padding: 19px 0;
    }
    .section-h2 {
        font-size: 35px;
    }
    .header-container {
        row-gap: 20px;
    }
    .navbar .navbar-link{
        border: none;
    }
    .navbar .navbar-link nav{
        display: none;
    }
    .navbar .navbar-link .bar{
        display: block;
    }

    /* banner part start */
    .banner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 400px;
        gap: 10px;
    }
    /* habit part start */
    #habit {
        background-color: black;
        margin: 56px 0;
    }
    .habit-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .habit-container .habit-text {
        max-width: 400px;
        text-align: center;
    }
    .habit-card-container .habit-card .habit-inner-text {
        max-width: 230px;
    }
    /* habit part end */
    /* run part start */
    .run-container{
        gap: 9px;
        padding: 20px;
    }
    .run-container .run-text {
        max-width: 290px;
    }
    .run-container .run-image{
        height: 300px; 
    }
    .run-container .run-image img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
    }
    /* run part end */
}
/*  */
@media (min-width:768px) and (max-width:991.99px) {
    .banner-h1 {
        font-size: 55px;
        line-height: 131%;
    }
    .banner-p {
        padding: 19px 0;
    }
    .section-h2 {
        font-size: 40px;
    }
    .header-container {
        row-gap: 20px;
    }
    /* banner part start */
    .banner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 400px;
        gap: 10px;
    }
      /* habit part start */
      .habit-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .habit-container .habit-text {
        max-width: 400px;
        text-align: center;
    }
    .habit-card-container .habit-card .habit-inner-text {
        max-width: 230px;
    }
    /* habit part end */
}