@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* common css start */
body{
    font-family: "Inter", sans-serif;
}
:root{
    --font-family: "Dancing Script", cursive;
    --primary-color:#FFFFFF;
    --secondary-color:rgba(255, 255, 255, 0.5);
    --tertiary-color:rgba(255, 255, 255, 0.6);
    --btn-color:#E6533C;
    --section-black-color:#111111;
    -section-gray-color:rgba(119, 119, 119, 0);
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
    border: 1px solid green;
    margin: 0 auto;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}
/* common css end */
/* shared style start */
.banner-h1{
    font-size: 70px;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 120%;
}
.banner-p{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 15px 0;
}
.common-btn{
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 22px;
    padding: 15px 40px;
    border: 1px solid var(--tertiary-color);
    border-radius: 42px;
    background: transparent;
}
.section-h2{
    font-size: 48px;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 120%;
}
.section-h3{
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 120%;
}
.section-h4{
    font-size: 28px;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 120%;
}
.section-h5{
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 120%;
}
.section-h6{
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 120%;
}
.section-p{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 24px;
    letter-spacing: 0.3px;
    padding: 13px 0;
}
.banner-span{
    font-weight: 400;
    font-family: var(--font-family);
}
.span-one{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
}
.span-two{
    font-size: 24px;
    font-weight: 900;
    color: #FAFAF9;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}

/* shared style end */
/* header part start */
#header{
    background-image: linear-gradient(rgb(30,30,30), rgb(3,3,3));
    /* background-color: black; */
}
.header-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.header-container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .navbar-link{
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    padding: 4px;
}
.navbar .navbar-link nav ul .nav-link{
    padding: 10px 20px;
    border-radius: 50px;
    transition: all linear 0.3s;
}
.navbar .navbar-link nav ul .nav-link:hover{
    background-color: var(--btn-color);
    transition: all linear 0.3s;
}
.navbar-link nav ul{
    display: flex;
    gap: 50px;
}
/* banner part  */
.banner{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 500px;
   gap: 20px;
}
.banner .banner-text{
    max-width: 520px;
    align-self: center;
}
.banner .banner-image{
    position: relative;
}
.banner-image .overly{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.banner-image .overly .card-1{
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0 20px;
    flex-direction: column;
    text-align: left;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.315);
    position: absolute;
    right: 0;
    top: 150px;
}
.banner-image .overly .card-2{
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.315);
    position: absolute;
    left: 0;
    bottom: 40px;
}
.banner-image .overly .card-2 .cercle{
    width: 35px;
    height: 35px;
    background-color: var(--btn-color);
    border-radius: 50%;
}
.banner .banner-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
/* banner part start */
/* header part end */
