@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* common css start */
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
:root{
    --font-family: "Dancing Script", cursive;
    --primary-color:#FFFFFF;
    --secondary-color:rgba(255, 255, 255, 0.5);
    --tertiary-color:rgba(255, 255, 255, 0.6);
    --btn-color:#E6533C;
    --section-black-color:#111111;
    --section-gray-color:rgba(119, 119, 119, 0.245);
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding:10px;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}
/* common css end */
/* shared style start */
.banner-h1{
    font-size: 70px;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 120%;
}
.banner-p{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 25px;
    letter-spacing: 0.5px;
    padding: 10px 0;
}
.common-btn{
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 22px;
    padding: 15px 40px;
    border: 1px solid var(--tertiary-color);
    border-radius: 42px;
    background: transparent;
    text-transform: capitalize;
    cursor: pointer;
}
.section-h2{
    font-size: 48px;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 140%;
}
.section-h3{
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 120%;
}
.section-h4{
    font-size: 28px;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 120%;
}
.section-h5{
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 120%;
}
.section-h6{
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 120%;
}
.section-p{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 24px;
    letter-spacing: 0.3px;
    padding: 15px 0;
}
.banner-span{
    font-weight: 400;
    font-family: var(--font-family);
}
.span-one{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 1px;
}
.span-two{
    font-size: 24px;
    font-weight: 900;
    color: #FAFAF9;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}
.card-p{
    font-size: 13px;
    font-weight: 400;
    color: var(--primary-color);
}
/* shared style end */
/* header part start */
#header{
    background-image: linear-gradient(rgb(30,30,30), rgb(3,3,3));
}
.header-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.header-container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px;
}
.navbar .navbar-link{
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    padding: 4px;
}
.navbar .navbar-link .bar{
    display: none;
    color:var(--primary-color);
    font-size: 30px;
}
.navbar-link nav ul{
    display: flex;
    gap: 20px;
}
.navbar .navbar-link nav ul .nav-link{
    padding: 10px 20px;
    border-radius: 50px;
    transition: all linear 0.3s;
}
.navbar .navbar-link nav ul .nav-link:hover{
    background-color: var(--btn-color);
    transition: all linear 0.3s;
}
.navbar .navbar-link nav ul .active{
    background-color: var(--btn-color);
}
/* banner part  */
.header-container .banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.banner .banner-text{
    max-width: 520px;
    align-self: center;
}
.banner-text button:nth-last-of-type(2){
  margin: 15px 10px 15px 0;
}
.banner .banner-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;}
.banner .banner-image img{
    width: 80%;
    height: 65%;
    object-fit: cover;}
.banner-image .overly{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.banner-image .overly .card-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding:15px 20px;
    text-align: left;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.139);
    position: absolute;
    right: 2%;
    top: 34%;
}
.banner-image .overly .card-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.139);
    position: absolute;
    left: 0%;
    bottom: 11%;
}
.banner-image .overly .card-2 .cercle{
    width: 35px;
    height: 35px;
    background-color: var(--btn-color);
    border-radius: 50%;
}
.banner-image .overly .card-2 .card-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* banner part start */
/* header part end */
/* habits part start */
#habit{
    background-color: black;
    margin: 100px 0;
}
.habit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
}
.habit-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.habit-container .habit-text{
    max-width: 600px;
    text-align: center;
}
.habit-card-container .habit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.habit-card-container .habit-card .habit-img {
    max-width: 180px;
    height: auto;
    border-radius: 50%;
}
.habit-card-container .habit-card .habit-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.habit-card-container .habit-card .habit-inner-text{
    text-align: center;
}
.habit-card-container .habit-card .habit-inner-text p{
        padding: 15px 0;
}
/* habits part endu */
/* run part start */
.run-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34,34,34);
    padding: 40px;
    border-radius: 16px;
}
.run-container .run-text{
    max-width: 450px;
}
.run-container .run-text button{
    background-color: var(--btn-color);
    border: none;
}
.run-container .run-image img{
    width: 100%;
    height: auto;
    border-radius: 16px;
}
/* run part end */
/* tranning part start */
#tranning{
    margin: 60px 0;
}
.tranning-container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.tranning-container .tranning-text{
   max-width: 600px;
}
.tranning-image{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
}
.tranning-image .img{
    position: relative;
}
.tranning-image .img .overly{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    padding: 15px;
}
.tranning-image .img .overly p{
    width: 100%;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 400;
}
.tranning-image .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tranning-image .image-1{
    grid-column: 1 / 4;
}
.tranning-image .image-1 .overly{
    background-color: rgba(6, 255, 210, 0.5);
    display: flex;
    justify-content: start;
    align-items: end;
}
.tranning-image .image-2{
    grid-column: 4 / 9;
}
.tranning-image .image-2 .overly{
    background-color: rgba(255, 0, 0, 0.3);
   
}
.tranning-image .image-3{
    grid-column: 9 / -1;
}
.tranning-image .image-3 .overly{
    background-color: rgba(25, 26, 25, 0.568);
    display: flex;
    justify-content: start;
    align-items: end;
}
.tranning-image .image-4{
    grid-column: 1 / 6;
}
.tranning-image .image-4 .overly{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
}
.tranning-image .image-5{
    grid-column: 6 / 9;
}
.tranning-image .image-5 .overly{
    background-color: rgba(66, 255, 0, 0.3);
    display: flex;
    justify-content: start;
    align-items: end;
}
.tranning-image .image-6{
    grid-column: 9 / -1;
}
.tranning-image .image-6 .overly{
    background-color: rgba(0, 71, 255, 0.3);
    display: flex;
    justify-content: start;
    align-items: end;
}
.calculator-text{
    max-width: 600px;
    margin: 0 auto;
}
/* tranning part end */
/* calculator part start */
#calculator{
    background-color: rgb(34,34,34);
}
.calculator-container{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    padding: 40px 0;
    justify-items: center;
}
.calculator-chart table{
    margin-top: 60px;
   border-collapse: collapse;
}
.calculator-chart table th{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    text-align: left;
    color: var(--primary-color);
}
.calculator-chart table td{
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    color: var(--secondary-color);  
}
.calculator-bmi form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 15px 0;
}
.calculator-bmi form input, select {
    width: 100%;
 }
.calculator-bmi form .select {
    grid-column: span 2;
}
.calculator-bmi form input, select{
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    /* background-color: var(--secondary-color); */
    background-color: var(--section-gray-color);
    padding: 12px;
    border: none;
    border-radius: 5px;
}
.calculator-bmi button{
    margin-top:20px ;
}
/* calculator part end */
/* team part start */
#team{
    margin: 50px 0;
}
.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    /* padding: 20px 0; */
}
 .team-container .team-text{
    max-width: 550px;
    text-align: center;
 }
 .team-container .team-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 15px;
    background-color: rgba(63, 62, 62, 0.382);
    border-radius: 16px;
 }
 .team-image .img{
    position: relative;
 }
 .team-image .img .overly{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 15px;
 }
 .team-image .img .overly span{
    font-size: 13px;
    font-weight: 400;
    color: var(--tertiary-color);
 }
 .team-image .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
 }
/* team part end */
/* equipment part start */
#equipment{
    background-color: rgb(34,34,34);
}
.equipment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    padding: 30px 0;
}
.equipment-header{
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}
.equipment-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.equipment-image .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.equipment-container button{
    background-color: var(--btn-color);
    border: none;
}
/* equipment part end */
/* footer part start */
#footer{
    background-color: #000000;
    padding: 50px 0;
}
 .footer-container{
   display: flex;
   flex-direction: column;
   row-gap: 50px;
 }
 .footer-container .footer-content{
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
 }
 .footer-content .footer-second ul li{
    display: block;
    margin-top: 15px;
 }
 .footer-content .footer-second ul li a{
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-color);
 }
 .footer-container .copyright{
    text-align: center;
 }
 .copyright span{
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
 }
/* footer part end */